DEVEL = False

SECRET_KEY = ''

DATABASE_ENGINE = "postgresql_psycopg2"
DATABASE_NAME = "ConceptNet"
DATABASE_HOST = "csc-sql.media.mit.edu"
DATABASE_PORT = "5432"
DATABASE_USER = 'username'
DATABASE_PASSWORD = 'password'

ENABLE_TWENTYQ = False
