{% include "usertest/base.html" %}
{% block body %}
<h1>Open Mind Common Sense</h1>
<h2>User evaluation, January 2010</h2>
<p>Welcome to Open Mind Common Sense, an AI project on the Web.</p>
<p>On the next page, you will be presented with 60 statements that come from a
variety of sources. Each statement may or may not represent common sense
knowledge. We would like you to evaluate which ones are true statements of
common sense.</p>

<p><big><a href="/usertest/questions">Begin</a></big></p>
{% endblock body %}

