{% extends "commonsense/concept_base.html" %}
{% load i18n %}
{% load voting_tags %}
{% load extra_voting_tags %}
{% load commons_tags %}

{% block head_title %}
{% trans "Knowledge about" %} {{ concept_name }}
{% endblock head_title %}

{% block body %}
<h1>{% trans "Knowledge about" %} <b>{{concept_name}}</b></h1>
<div class="similar">
    <b>Similar concepts:</b>
    <span id="similar">
        &nbsp;<img src="{{ MEDIA_URL }}ajax-loader.gif" alt="loading" valign="top" />
    </span>
</div>

{% comment %}
<div class="threads">
  {% for thread in concept.get_terminating_threads %}
    {% include "commonsense/_mini_thread.html" %}
  {% endfor %}
  {% for thread in concept.get_containing_threads %}
    {% include "commonsense/_mini_thread.html" %}
  {% endfor %}
</div>
{% endcomment %}

<div class="questions" id="questions">
    &nbsp;
</div>
{% include "commonsense/_raw_items.html" %}
{% endblock body %}

{% block extra_body %}
<script type="text/javascript">
var concept="{{ concept_name|urlencode }}";
Event.observe(window, "load", function()
{
    jQuery('#similar').html('&nbsp;').load(
        '/{{lang}}/concepts/near/'+concept+'/'
    );
    jQuery('#questions').html('&nbsp;').load(
        '/{{lang}}/features/predict/'+concept+'/'
    );
});
</script>
{% if user.is_authenticated %}

    <script type="text/javascript">
    Event.observe(window, "load", function()
    {
        new VoteHijacker("statement");
    });
    </script>

{% endif %}
{% endblock extra_body %}
